dev/.config/VSCodium/*
!dev/.config/VSCodium/User
dev/.config/VSCodium/User/*
!dev/.config/VSCodium/User/settings.json

claude/.claude/*
!claude/.claude/keybindings.json
!claude/.claude/settings.json
!claude/.claude/statusline.sh

desktop/.local/state/cosmic/com.system76.CosmicEdit/v1/*
desktop/.local/state/cosmic/com.system76.CosmicSettings/v1/active_page